---
import Layout from '../../layouts/Layout.astro';
import About from '../sections/About.astro';
import Menu from '../sections/Menu.astro';
import Reviews from '../sections/Reviews.astro';
import Showcase from '../sections/Showcase.astro';
import Video from '../sections/Video.astro';

import { getI18N } from '../../utils/i18n';
import Features from '../sections/Features.astro';
import WhatsAppButton from '../WhatsAppButton.jsx';
import CarouselFunction from '../sections/CarouselFunction.jsx';
import CustomCookieConsent from '../CustomCookieConsent.jsx';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const translations = {
  message: i18n.COOKIE_CONSENT.MESSAGE,
  moreInfo: i18n.COOKIE_CONSENT.MORE_INFO,
  accept: i18n.COOKIE_CONSENT.ACCEPT,
  decline: i18n.COOKIE_CONSENT.DECLINE
};
---

<Layout 
  title={i18n.SEO_TITLE}
  description={i18n.SEO_DESCRIPTION}
>
  <main>
    <About />
    <Features />
    <Menu />
    <CarouselFunction client:load />
    <Reviews />
    <WhatsAppButton 
	chatMessage={i18n.WHATSAPP_MESSAGE}
	statusMessage={i18n.STATUS_MESSAGE}
	client:load />
    <Showcase />
 
    
    <Video />
  </main>
  <CustomCookieConsent translations={translations} client:load />
</Layout>

<style>

</style>
