---
import Tabs from '../Tabs.jsx';
import { getI18N } from '../../utils/i18n';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<div id="menu_section" class="menu-section pb-10 bg-cover bg-center relative" style="background-image: url('img/bg/meal-bg.webp');">
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-b from-black/90 to-transparent z-0"></div>
  <div class="absolute inset-0 bg-gradient-to-t from-black/90 to-transparent z-0"></div>

  <div id="menu_section" class="relative z-10 container mx-auto px-4 py-20 text-white">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold mt-1 leading-tight tracking-tight uppercase">{i18n.MENU.TITLE}</h2>
      <p class="text-gray-500 mt-2">{i18n.MENU.DESCRIPTION}</p>
    </div>
  
    <div class="h-full md:h-[600px] overflow-auto">
      <Tabs tabs={i18n.MENU.TABS} products={i18n.MENU.PRODUCTS} client:load />
    </div>

    <!-- Button to download the menu PDF -->
    <div class="mt-6 md:mt-0 text-center">
      <a href="/menu/Menu_express.pdf" download class="inline-block bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-300">
        {i18n.MENU.DOWNLOAD_BUTTON_TEXT}
      </a>
    </div>
  </div>
</div>
