---
import LanguageSelector from '../LanguageSelector.astro';
import Hero from './Hero.astro';
import { getI18N } from '../../utils/i18n';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="relative">
  <div class="absolute inset-0 bg-cover bg-center before:absolute before:inset-0 before:bg-gradient-to-b before:from-transparent before:to-black z-0" style="background-image: url('/img/bg/header-bg.png')">
  </div>
  
  <div class="relative z-10">
    <div class="navbar bg-transparent container mx-auto px-4">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="../">{i18n.NAVBAR.ITEM1}</a></li>
            <li><a href="#about_section">{i18n.NAVBAR.ITEM2}</a></li>
            <li><a href="#menu_section">{i18n.NAVBAR.ITEM3}</a></li>
            <li><a href="#info_section">{i18n.NAVBAR.ITEM4}</a>
            
            <li><LanguageSelector /></li>
          </ul>
        </div>
        <a class="font-bold uppercase text-xl">Express Dönner</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="../">{i18n.NAVBAR.ITEM1}</a></li>
          <li><a href="#about_section">{i18n.NAVBAR.ITEM2}</a></li>
          <li><a href="#menu_section">{i18n.NAVBAR.ITEM3}</a></li>
          <li><a href="#info_section">{i18n.NAVBAR.ITEM4}</a></li>
          
          <li><LanguageSelector /></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a href="tel:+49 1738258352" class="btn text-orange-400">Contact</a>
      </div>
    </div>
  </div>

  <!-- Hero Content -->
  <div class="container mx-auto px-4 pt-[80px] relative z-10">
    <Hero />
  </div>
</div>
