---
import { getI18N } from '../../utils/i18n';
const { currentLocale } = Astro
const i18n = getI18N({currentLocale});
---

<div id="team_section" class="team-section pb-20 bg-cover bg-center relative" style="background-image: url('img/bg/team-bg.webp');">
    <div class="absolute inset-0 bg-gradient-to-b from-black via-transparent to-black opacity-100"></div>

    <div class="container mx-auto px-4">
        <div class="flex justify-center">
            <div class="max-w-2xl text-center">
                <div class="mb-16 z-10 relative">
                    <span class="text-sm font-semibold uppercase text-orange-500">{i18n.TEAM.SECTION_TITLE}</span>
                    <h2 class="text-3xl font-bold mt-1 leading-tight tracking-tight uppercase">{i18n.TEAM.DESCRIPTION}</h2>
                    <div class="mt-4 text-orange-500 text-2xl">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap justify-center gap-4">
            {i18n.TEAM.MEMBERS.map(members => (
                <div class="w-full md:w-1/3 px-4 mb-8">
                    <div class="relative overflow-hidden rounded-lg shadow-lg h-96">
                        <img src={`img/team/${members.IMAGE}`} alt={members.NAME} class="w-full h-full object-cover opacity-90 transition duration-300 ease-in-out hover:scale-105">
                        <div class="absolute bottom-0 inset-x-0 bg-gradient-to-t from-black to-transparent opacity-100">
                            <div class="p-4 text-center transition-transform transform duration-300 ease-in-out hover:-translate-y-5">
                                <i class="fas fa-user-tie text-yellow-500 text-xl mb-2"></i>
                                <h4 class="font-bold text-xl text-yellow-500">{members.NAME}</h4>
                                <p class="text-gray-300">{members.DESCRIPTION}</p>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
</div>
